<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Average Monthly Rainfalls</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<body>
<div id="chart" style="width:100%;height:75vh;"></div>
<script>
    async function createChart() {
        let resp = await fetch('http://localhost:3000/graphql', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
            },
            body: JSON.stringify({
                query: `
                {
                  basins {
                    name
                    avgMonthlyRainfalls {
                      amount
                      month
                    }
                  }
                }`
            })
        });
        let json = await resp.json();
        let table = json.data.basins;

        let data = [];
        for (const element of table) {
            let name = element.name.split(" ");
            data.push(
                {
                    x: element.avgMonthlyRainfalls.map(row => row.month),
                    y: element.avgMonthlyRainfalls.map(row => row.amount),
                    type: 'line',
                    name: name[name.length - 1],
                }
            )
        }
        let layout = {
            title: 'Average Monthly Rainfalls for All Rivers',
            xaxis: {
                title: 'Month'
            },
            yaxis: {
                title: 'Monthly Rainfall (mm)',
                range: [0, 500]
            }
        };
        let config = {responsive: true};
        Plotly.newPlot("chart", data, layout, config);
    }

    createChart();
</script>
</body>
</html>
