<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Questionnaire</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/cirrus-ui">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="main.css">
<body>
<div class="background__blue">
    <div class="content u-center">
        <h1>Questionnaire</h1>
        <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT2wEaf64zNMeDeQbFqNnwsFBZRj0ObWltFgZtWtFOsJo-AjasaDPxTwGE_T9ktp1V9z8SaZTYfSaen/pubchart?oid=153488628&amp;format=interactive">
        </iframe>
        <div class="space"></div>
        <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT2wEaf64zNMeDeQbFqNnwsFBZRj0ObWltFgZtWtFOsJo-AjasaDPxTwGE_T9ktp1V9z8SaZTYfSaen/pubchart?oid=142057943&amp;format=interactive">
        </iframe>
        <div class="space"></div>
        <div class="u-pull-right">
            <a href="index.html">
                <button class="btn"><- Back</button>
            </a>
        </div>
        <div class="space"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/cirrus-ui@0.6.2/dist/cirrus.min.css"></script>
</body>
</html>
