<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Questionnaire</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/cirrus-ui">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
<body>
<div class="background__blue">
    <div class="content u-center">
        <h1>Anime score vs reviewer score</h1>
        <canvas id="lineChart" width="900" height="400"></canvas>
        <div class="space"></div>
        <div class="u-pull-right">
            <a href="index.html">
                <button class="btn"><- Back</button>
            </a>
        </div>
        <div class="space"></div>
    </div>
    <script>

        fetch()

        let ctx = document.getElementById('lineChart').getContext('2d');
        let data = {
            labels: ['Anime Score', 'Reviewer Score'],
            datasets: [{
                label: "Blue",
                fillColor: "blue",
                data:
            }]
        }
    </script>
</div>
<script src="https://cdn.jsdelivr.net/npm/cirrus-ui@0.6.2/dist/cirrus.min.css"></script>
</body>
</html>
